<div class="home">
  <%= image_tag "Logo en blanco.png", class: "logo" %>
  <div>
    <h3>Que empiece el desvergue!</h3>
    <%= link_to 'Comenzar', root_path, class: "btn btn-ghost", id:"log-in" %>
  </div>
</div>
